.album{
    display: flex;
    flex-direction: column;
    padding-top: 76px;
    max-width: 80%;
    margin: auto;
}

.picture{
    width: 50%;
    height: 100%;
}

.picture img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.detail_photo{
    width: 50%;
    text-align: left;
    padding-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 21px;
    border-bottom: solid black 1px;
}

.global_photo{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    gap:10px;
}

.detail_photo h2{
    text-transform: uppercase;
    line-height: 1;
    width: 420px;
    padding-bottom: 10px;
}

.detail_photo p{
    text-transform: uppercase;
}

.prisecontact{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
   justify-content: space-between;
    border-bottom: 1px solid black;
    height: 118px;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 30px 0;
}

.navphoto{
width: 50%;
display: flex;
flex-direction: column;
align-items: flex-end;
}

.question{
    font-size: 14px;
    font-weight: 300;
   
}

.bouttoncontact{
    width: 260px;
    height: 50px;
    font-size: 12px;
    font-weight: 400;
    padding: 8px 15px;
    margin-left: 78px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 1px 0px black;
    background-color: var(--Button);
    transition: background-color 0.5s ease;
}
 .bouttoncontact:hover{
    background-color: var(--Button-hover);
    color: white;
 }

 .suggestion{
    margin-bottom: 50px;
 }

 .aimerez h3{
    text-transform: uppercase;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: left;
}

.cardphoto{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
}

.apercu{
    width: 81px;
    height: 71px;
    background-size: cover;
}

.fleches{
    width: 81px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
}

.bloc_affichage{
    width: 564px;
    height: 495px;
    }

    .image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .survol_photo{
        position: relative;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        bottom: 501px;
        transition: background-color 0.5s ease;
    }

    .referencephoto{
        font-size: 14px;
        font-weight: 500;
        color: white;
        font-family: "Poppins_regular";
        position: relative;
        left: 10px;
        top: 467px;
        display: none;
    }

    .categorie_photo{
        font-size: 14px;
        color: white;
        font-weight: 400;
        position: relative;
        left: 470px;
        top: 449px;
        text-transform: uppercase;
        display: none;
    }

        .icon_eye{
            position: relative;
            left: 46%;
            top: 29vh;
            width: 50%;
            cursor: pointer;
            display: none;
        }

        .icon_fullscreen{
            position: relative;
            bottom: 66px;
            left: 485px;
            width: 7%;
            cursor: pointer;
            display: none;
        }

        .survol_photo:hover{
            background-color: #000000ba;
        }

        .bloc_affichage:hover .referencephoto,
        .bloc_affichage:hover .categorie_photo,
        .bloc_affichage:hover .icon_eye,
        .bloc_affichage:hover .icon_fullscreen{
            display: block;
        }

        @media (max-width:800px){
            .global_photo{
                flex-direction: column;
                align-items: center;
                gap: 50px;
            }
            .picture{
                width: 100%;
            }
            .detail_photo{
                width: 100%;
            }
            .prisecontact{
                flex-direction: column;
                height: 150px;
            }
            .contact{
                flex-direction: column;
                text-align: left;
            }
            .bouttoncontact{
                margin-left: 0;
            }
            .navphoto{
                display: none;
            }
            .aimerez h3{
                text-align: center;
                padding-top: 30px;
            }
            .cardphoto{
                flex-direction: column;
                align-items: center;
            }

            .detail_photo h2{
              font-size: 46px;
            }
            
        

        }